name: Create a Github release

on:
  push:
    tags:
      - '**'

jobs:
  create_release:
    runs-on: ubuntu-latest
    name: Create a GitHub release
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        
      - name: Create GitHub release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true

          # Use a personal access token from our bot.
          # Otherwise, the on:release workflow will not start.
          token: ${{ secrets.PAT_CREATE_GITHUB_RELEASE_ACTION }}
